ion-header {

  .threadHeader {
    padding-top: 1rem;
    --background: #404040
  };
}

.spinnerCenter {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: slide-in 0.3s ease-in-out;
}

.content {
  animation: slide-in 0.3s ease-in-out;
}

ion-list {
  padding: 0;
}

ion-item {
  --ion-border-color: #414141;
  --ion-item-background: #282828;

  strong {
    margin-top: 0.4rem;
  }

  p {
    margin: 0.5rem 0;
  }
}

.drawerComponent {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.12) 0 4px 16px;
  width: 100%;
  border-radius: 20px;
  z-index: 11;
  background-color: white;
}

@keyframes slide-in {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}