ion-header {
  padding-top: 1rem;
}

.spinnerCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-list {
  padding: 0;
}

ion-item {
  --ion-border-color: #414141;
  --ion-item-background: #282828;

  strong {
    margin-top: 0.4rem;
  }

  p {
    margin: 0.5rem 0;
  }
}

.drawerComponent {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.12) 0 4px 16px;
  width: 100%;
  border-radius: 20px;
  z-index: 11;
  background-color: white;
}
