<ion-header>
  <ion-toolbar>
    <ion-title>Inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col (click)="composeEmail()">
        <ion-button expand="block" size="" disabled>
          Send Email
        </ion-button>
      </ion-col>
      <ion-col (click)="newMessage()">
        <ion-button expand="block" size="">
          Send Text
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="spinnerCenter">
    <ion-spinner *ngIf="loading"></ion-spinner>
  </div>
  <ion-list *ngIf="!loading">
    <ion-item button *ngFor="let thread of threads" (click)="selectMessage(thread)">
      <ion-grid>
        <ion-row>
          <strong>{{ thread.Subject }}</strong>
        </ion-row>
        <ion-row>
          <p>{{ thread.Message }}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
