.threadHeader {
  --background: #404040;
  --min-height: 60px;
  padding-top: 1rem;

  ion-title {
    font-size: 1rem;
    padding: 0;
  }
}

ion-content {
  --ion-background-color:#242424;
}

.content-container {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.top-content {
  width: 100%;
  flex: 1 !important;
  background-color: #242424;
  padding: 0 2vw;
}

.numberInput {
  --padding-start: 0.5rem;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.spinnerRow {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
}

.scroller {
  --color: #ffffff85;
  min-height: 24px;
}

.supplementalText {
  font-size: 0.9rem;
  color: #ffffff85;
  margin: 0 0 0.3rem 0;
  transition: 0.2s;
}

.messageDate {
  margin-top: 0.5rem;
  justify-content: center;
  font-size: 0.7rem;
  color: #ffffff85;
}

.message {
  padding: 8px;
  border-radius: 10px;
  margin: 5px 0;
  white-space: pre-wrap;
  background: #353535;
  color: #fff;
  max-width: 75%;
  font-family: Arial, Helvetica, sans-serif;
}

.imageRow {
  margin: 1px 0;
  width: 75%;
}

.imageContainer {
  padding: 0;
}

.outgoing {
  background-color: #626883;
  color: white;
}

.chatMessage {
  height: 100%;
  opacity: 0;
  animation: slideIn 0.2s 0s both ease-in;

  .chatCol {
      padding: 0;
  }
}

.align-right {
  justify-content: flex-end;
}

.messageText {
  font-size: 0.8rem;
}

.bottom-content {
  box-shadow: #00000045 0 4px 10px;
  height: auto;
  padding-bottom: 2rem;
  background-color: #404040;
}

.bottom-content .chatGrid {
  height: auto;
  padding: 0;
  margin: 0;
}

.chatInput {
  background: rgba(4, 3, 3, 0.2);
  color: white;
  border-radius: 5px;
  margin: 5px;
  max-height: 250px;
}

.inputCol {
  width: auto;
}

.buttonCol {
  padding: 0;
  width: 100%;
}

.footerButton {
  width: 95%;
  margin: auto;
  transition: 0.2s;

  ion-icon {
      transform: scale(1.4);
      fill: #3880ff;
  }
}

.noReply {
  padding-bottom: 1rem;
}

.picMargin {
  margin-bottom: 5px;
  margin-top: 5px;
}

.spinnerRow {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
}

.typing {
  min-width: 50px;
}

.ellipsis1, .ellipsis2, .ellipsis3 {
  opacity: 0;
  animation-name: typing;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;

}

.ellipsis1 {
  animation-delay: 0s;
}

.ellipsis2 {
  animation-delay: 0.3s;
}

.ellipsis3 {
  animation-delay: 0.6s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(8px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
